@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74951725');
  src: url('../font/fontello.eot?74951725#iefix') format('embedded-opentype'), url('../font/fontello.woff?74951725') format('woff'), url('../fonts/fontello.ttf?74951725') format('truetype'), url('../font/fontello.svg?74951725#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	color: inherit;
}
